@page
@model DotnetLocation.Pages.Vehicules.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicule.Categorie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicule.Categorie.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicule.Marque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicule.Marque)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicule.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicule.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicule.Annee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicule.Annee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicule.Transmission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicule.Transmission)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicule.Carburant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicule.Carburant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicule.Prix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicule.Prix)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicule.Caution)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicule.Caution)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicule.Penalite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicule.Penalite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicule.Disponibilite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicule.Disponibilite)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Vehicule.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
